body {
  background-image: url('MandalaBG.jpg');
  background-size: cover;
  background-color: #F7F7F7;
}
.icon-space img {
  width: 30px;
  height: 30px;
}
.welcome, .status-update, #about {
  background-color: #FFFFFF; /* light background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.welcome h1, .status-update h2
